# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea
.vscode/*
.cache

# Environment and Dependency
*venv*
.venv*
dependency/.spack-env
dependency/spack.lock
/build_env/
/venv-new/
/env.txt
spack-env

# Build directories
build
/build-dlio/
/build_dlio/
/cmake_example.egg-info/
/cmake-build-debug/
/cmake-build-debug-1/
/temp/dftracer/
/Testing/Temporary/

# Additional aux files
logs/*.log
/examples/df_analyzer/df.log
/examples/df_analyzer/df_analyzer_main.log
/df_analyzer/test.pfw.gz.zindex
/df_analyzer/dask/run_dir/*.pid
/df_analyzer/dask/run_dir/*.json
/data/unet3d/
/df_analyzer/dask/logs/*.log
/df_analyzer/.nfs*
/hydra_log/unet3d/
/STDERR
install
__pycache__
dftracer/__pycache__
*.log
examples/dfanalyzer/test-trace.pfw.gz.zindex

# Install files
pydftracer.egg-info
/dist/
/output/

# Python checkpoints
/examples/.ipynb_checkpoints/
/examples/df_analyzer/.ipynb_checkpoints/

# Debug files
/*.core

dfanalyzer/dask/run_dir
dfanalyzer/dask/logs
dfanalyzer/dask/scripts/STDIN.*
*.zindex