[submodule "external/brahma"]
	path = external/brahma
	url = https://github.com/hariharan-devarajan/brahma.git
	branch = dev
[submodule "external/cpp-logger"]
	path = external/cpp-logger
	url = https://github.com/hariharan-devarajan/cpp-logger.git
	branch = dev
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/GOTCHA"]
	path = external/GOTCHA
	url = https://github.com/LLNL/GOTCHA.git
	branch = 1.0.3
