# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


venv
build
log
.idea
dlio_profiler_py.egg-info
dependency/.spack-env
dependency/spack.lock
/build-dlio/
/build_dlio/
/cmake_example.egg-info/
