cpp-logger,https://github.com/hariharan-devarajan/cpp-logger.git,v0.0.3,1,tag,
gotcha,https://github.com/LLNL/GOTCHA.git,1.0.5,1,tag,
brahma,https://github.com/hariharan-devarajan/brahma.git,v0.0.3,1,tag,
yaml-cpp,https://github.com/jbeder/yaml-cpp.git,yaml-cpp-0.6.3,1,tag,"-DYAML_BUILD_SHARED_LIBS=On"