cpp-logger,https://github.com/hariharan-devarajan/cpp-logger.git,dev,1
gotcha,https://github.com/LLNL/GOTCHA.git,develop,1
brahma,https://github.com/hariharan-devarajan/brahma.git,dev,1
libuv,https://github.com/libuv/libuv.git,v1.45.x,1
